<p id="notice"><%= notice %></p>

<h1>Listing User Logs</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>現在の体重</th>
      <th>コメント</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @user_logs %>
  </tbody>
</table>

<br>

<%= link_to 'New User log', new_user_log_path %>
