<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">およそ</div>
  <div class="panel-body">
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">名前: <%= @user.name %></li>
    <li class="list-group-item">年齢: <%= @user.age %> 歳</li>
    <li class="list-group-item">体調: <%= @user.height %> cm</li>
    <li class="list-group-item">体重: <%= @user.weight %> kg</li>
  </ul>
</div>