<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">新規の目標作成</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <div class="btn-group btn-group-xs btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <%= link_to '戻る', user_goals_path, class: 'btn btn-success' %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
